version: 2.1

parameters:
  ci_builder_image:
    type: string
    default: us-docker.pkg.dev/oplabs-tools-artifacts/images/ci-builder:v0.55.0
  ci_builder_rust_image:
    type: string
    default: us-docker.pkg.dev/oplabs-tools-artifacts/images/ci-builder-rust:latest
  base_image:
    type: string
    default: default

orbs:
  go: circleci/go@1.8.0
  gcp-cli: circleci/gcp-cli@3.0.1
  slack: circleci/slack@4.10.1
  shellcheck: circleci/shellcheck@3.2.0

jobs:
  golang-test:
    parameters:
      project_name:
        description: "name of the project"
        type: string
        default: ""
    shell: /bin/bash -eo pipefail
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    steps:
      - checkout
      - run:
          name: run <<parameters.project_name>> module tests
          command: cd <<parameters.project_name>> && go test ./... -v

  go-lint:
    parameters:
      project_name:
        description: "name of the project"
        type: string
        default: ""
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    steps:
      - checkout
      - restore_cache:
          name: Restore Go modules cache
          key: gomod-{{ checksum "<<parameters.project_name>>/go.sum" }}
      - restore_cache:
          key: golang-build-cache
      - restore_cache:
          key: golang-lint-cache
      - run:
          name: run Go linter
          command: |
            make <<parameters.project_name>>-lint-go
          working_directory: .
      - save_cache:
          key: golang-build-cache
          paths:
            - "/root/.cache/go-build"
      - save_cache:
          key: golang-lint-cache
          paths:
            - "/root/.cache/golangci-lint"

workflows:
  test:
    jobs:
        - go-lint:
            name: op-defender-go-lint
            project_name: op-defender
        - go-lint:
            name: op-monitorism-go-lint
            project_name: op-monitorism
        - golang-test:
            name: op-defender-golang-test
            project_name: op-defender
        - golang-test:
            name: op-monitorism-golang-test
            project_name: op-monitorism
