name: branch build

# helloworld

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'op-monitorism/**'
      - 'op-defender/**'
      - 'docker-bake.hcl'
      - '.github/workflows/branches.yaml'

jobs:
  build:
    if: github.event.pull_request.head.repo.full_name == github.repository
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - op-monitorism
          - op-defender
    uses: ethereum-optimism/factory/.github/workflows/docker.yaml@f8f3cb4800e538003134fb5f50cc734c2c98d762
    with:
      mode: bake
      image_name: ${{ matrix.image_name }}
      bake_file: docker-bake.hcl
      target: ${{ matrix.image_name }}
      tag: pr-${{ github.event.pull_request.number }}
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      registry: us-docker.pkg.dev/oplabs-tools-artifacts/oss
      set: |
        *.args.GIT_COMMIT=${{ github.sha }}
        *.args.GIT_DATE=${{ github.event.head_commit.timestamp }}
    permissions:
      contents: read
      id-token: write
      attestations: write
