name: tag build

on:
  push:
    tags:
      - '*/v*' # Match tags like op-monitorism/v1.2.3

jobs:
  prep:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      image_name: ${{ steps.parse-tag.outputs.image_name }}
      version: ${{ steps.parse-tag.outputs.version }}
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4
      - name: Parse tag
        uses: ethereum-optimism/factory/actions/parse-tag@f8f3cb4800e538003134fb5f50cc734c2c98d762
        id: parse-tag

  release:
    needs: prep
    uses: ethereum-optimism/factory/.github/workflows/docker.yaml@f8f3cb4800e538003134fb5f50cc734c2c98d762
    with:
      mode: bake
      image_name: ${{ needs.prep.outputs.image_name }}
      bake_file: docker-bake.hcl
      target: ${{ needs.prep.outputs.image_name }}
      tag: ${{ needs.prep.outputs.version }}
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      registry: us-docker.pkg.dev/oplabs-tools-artifacts/images
      set: |
        *.args.GIT_COMMIT=${{ github.sha }}
        *.args.GIT_DATE=${{ github.event.head_commit.timestamp }}
    permissions:
      contents: read
      id-token: write
      attestations: write
